.align-items-center {
  display: flex;
  align-items: center; /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.mb-2 {
  margin-bottom: 10px;
}

.mt-4 {
  margin-top: 4px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.kanban {
  margin-top: -20%;
}

.card {
  padding: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.teal {
  color: teal;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.hide {
  display: none;
}
